/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: sans-serif;
  color: #e4e4e4;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #212121;
}

header {
  padding-top: 1rem;
  .wrapper {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 4rem;
      color: #ff6f61;
    }

    ul {
      display: flex;
      gap: 20px;
      li {
        font-size: 4rem;
      }
      li:hover {
        color: #ff6f61;
      }
    }
  }
}

main {
  padding-bottom: 3rem;
  .wrapper {
    h1 {
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
    a {
      color: #ff6f61;
    }
    pre {
      padding: 1rem 0;
      font-size: 1.2rem;
    }
  }
}

footer {
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
